title = "Genres"
url = "/genres/:slug"
layout = "home"

[builderDetails]
modelClass = "Test\Movies\Models\Genre"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "genre_title"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% if record %}
    <h2>{{ attribute(record, displayColumn) }}</h2>


    {% for movie in record.movies %}

        {{ movie.name }} <br>
    
    {% endfor %}

{% else %}
    {{ notFoundMessage }}
{% endif %}